/*COLORS*/
$color-white: #fff;
$color-black: black;
$color-green : #00bc77;
$color-link-active:#42b983;
$color-text : #2c3e50;
$color-text-error:#ff5733;
$color-item-title : #222;
$background-dark-color : #12002b;